@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Montserrat:wght@400;700&display=swap");

$font-main: "Crimson Pro", serif; // Body font
$font-header: "Montserrat", sans-serif; // Header font

form input {
	outline: none;
	border: none;
	border-radius: 0.225rem;
	width: 100%;
	padding: 0.8rem;
	text-align: left;
	box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.form {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	&__view_icon {
		color: rgba(0, 0, 0, 0.364);
		position: absolute;
		right: 0.6rem;
		bottom: 0.55rem;
		cursor: pointer;
		&:hover,
		&:active {
			transform: scale(1.05);
			color: rgba(0, 0, 0, 0.51);
		}
		&--on {
			@extend .form__view_icon;
			color: rgb(72, 72, 72);
			transform: scale(1.1);
		}
	}
	&__password-container {
		position: relative;
	}
	&__password {
		padding-right: 2.1rem;
	}
	&__error_message {
		// border: 0.1rem solid red;
		font-size: 0.75rem;
		font-family: $font-header;
		color: rgb(184, 0, 0);
	}
}
