// popup
.popup {
	&__overlay {
		position: fixed;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(
			0,
			0,
			0,
			0.6
		); // Darker background with slight opacity for the backdrop
		backdrop-filter: blur(10px); // Blurred background effect
		opacity: 0; // Initially hidden for fade-in effect
		animation: fadeIn 0.3s ease forwards; // Fade in animation
	}

	&__content {
		display: block;
		width: 80%; // Adjust to be a percentage of screen width
		max-width: 400px; // Set max-width for classic modal look
		background: rgba(255, 255, 255, 0.8); // Semi-transparent white
		padding: 1.5rem;
		border-radius: 12px; // Rounded corners for a modern feel
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); // Subtle shadow effect
		text-align: center;
		position: relative;
		opacity: 0; // Initially hidden for fade-in effect
		transform: scale(0.9); // Slightly smaller to scale up to normal size
		animation: scaleFadeIn 0.3s ease forwards, fadeIn 0.3s ease forwards; // Fade in and scale-up animation
	}

	&__title {
		font-size: 24px;
		font-weight: bold;
		color: #333;
		margin-bottom: 16px;
	}

	&__text {
		font-size: 16px;
		color: #666;
		margin-bottom: 24px;
	}

	&__btn-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		gap: 1rem;
		position: relative;
	}

	// Divider moved below buttons and spans the full width
	&__btn-divider {
		width: 100%;
		border-top: 1px solid rgba(31, 17, 17, 0.15); // Lighter divider line
		position: absolute;
		bottom: 0; // Aligns the divider to the bottom
		left: 0;
	}

	&__left-btn,
	&__right-btn {
		text-align: center;
		font-size: 0.8rem;
		background: #e53b3b;
		color: white;
		border: none;
		padding: 0.75rem 0.85rem;
		margin: 0.3rem;
		border-radius: 0.5rem;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.05s ease;
		box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.3);

		&:hover {
			background: #bb0101;
			box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4); // Hover effect for close button
			transform: translateY(-0.0313rem); // Floating effect
		}

		&:active {
			transform: translateY(0.0625rem) scale(0.995); // Shrink and sink on press
			box-shadow: 0rem 0.125rem 0.35rem rgba(0, 0, 0, 0.4); // Reduced shadow when pressed
		}
	}
	&__right-btn {
		background: #367e30;
		&:hover {
			background: #2b684f;
		}
	}
}

// Keyframes for fade in and scale up animations
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes scaleFadeIn {
	from {
		opacity: 0;
		transform: scale(0.9); // Start with smaller size
	}
	to {
		opacity: 1;
		transform: scale(1); // End with normal size
	}
}

// Keyframes for fade out and scale down animations
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes scaleFadeOut {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.9); // Shrink while fading out
	}
}
