@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Montserrat:wght@400;700&display=swap");

$font-main: "Crimson Pro", serif; // Body font
$font-header: "Montserrat", sans-serif; // Header font

* {
	text-align: center;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-main;
}

p {
	font-family: $font-main;
	font-size: 1rem;
}
body {
	font-family: $font-main;
	font-size: 1rem;
	background-image: url("/assets/background.jpeg"); //no relative path for deployment
	background-repeat: repeat;
	background-size: cover;
}
button {
	font-family: $font-header;
	text-transform: uppercase;
	font-weight: bold;
}

.btn {
	text-align: center;
	font-size: 0.8rem;
	text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
	background: #ff4d4d;
	color: white;
	border: none;
	padding: 0.75rem 0.85rem;
	margin: 0.3rem;
	border-radius: 0.5rem;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.01s ease;
	box-shadow: 0.2rem 0.15rem 0.375rem rgba(0, 0, 0, 0.4); // Default shadow

	&:hover {
		color: rgb(235, 235, 235);
		background: #cc0000;
		box-shadow: 0.2rem 0.15rem 0.5rem rgba(0, 0, 0, 0.5); // Hover effect for close button
		transform: translateY(-0.015rem); // Floating effect
	}

	&:active {
		color: rgb(232, 232, 232);
		transform: translateY(0.0625rem) scale(0.995); // Shrink and sink on press
		box-shadow: 0.2rem 0.15rem 0.5rem rgba(0, 0, 0, 0.5); // Reduced shadow when pressed
	}

	// Game Button
	&--game {
		@extend .btn;
		width: 10rem;
		background: #9207a4;

		&:hover {
			background: #7b1295;
		}

		&-remove-player-btn {
			@extend .btn;
			background: #1b5ac6;
			font-size: 0.7rem;

			&:hover {
				background: #18479d;
			}
		}
	}

	// Game Ongoing Button
	&--gameOnGoing {
		@extend .btn;
		width: 10rem;
		background: #988d34;

		&:hover {
			background: #7f7424;
		}
	}

	// App Button
	&--sign-in-google {
		@extend .btn;
		width: 14rem;
		background: #e24141;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		&:hover {
			background: #b23641;
		}
	}
	&--sign-in-microsoft {
		@extend .btn--sign-in-google;
		background: #3c72ee;
		&:hover {
			background: #4363b3;
		}
	}
	&--sign-out,
	&--quit {
		@extend .btn--sign-in-google;
		background: #c71c1c;
		&:hover {
			background: #b23641;
		}
	}
	&--quit {
		@extend .btn;
		background: #920707;
		width: auto;
		&:hover {
			background: #7a0c15;
		}
	}

	// Lobby Button
	&--lobby {
		@extend .btn;
		width: 12rem;
		background: #c21a1a;
		&:hover {
			background: #8a1616;
		}
	}
}

.btn-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	gap: 0.25rem;
	position: relative;
}
