@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.game-room {
	z-index: 0;
	background: linear-gradient(
		100deg,
		rgba(143, 132, 132, 0.75) 0%,
		rgba(254, 254, 254, 0.75) 20%,
		rgba(205, 213, 205, 0.75) 50%,
		rgba(255, 255, 255, 0.75) 80%,
		rgba(143, 132, 132, 0.75) 100%
	);
	box-shadow: 0.65rem 0.425rem 0.425rem rgba(0, 0, 0, 0.2); // Subtle shadow effect

	border: none;
	border-radius: 0.5rem;
	height: 12rem;
	width: auto;
	margin: 1rem;
	padding: 1.2rem;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	//gap: 1rem;
	opacity: 0; // Initially hidden for fade-in effect
	transform: scale(0.9); // Slightly smaller to scale up to normal size
	animation: scaleFadeIn 0.3s ease forwards, fadeIn 0.3s ease forwards; // Fade in and scale-up animation

	@include tablet {
		width: 100%;
		min-width: 11rem;
	}

	&__player-name-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	&--ongoing {
		background: linear-gradient(
			100deg,
			rgba(156, 89, 37, 0.75) 0%,
			rgba(255, 224, 224, 0.75) 20%,
			rgba(255, 198, 185, 0.75) 50%,
			rgba(255, 221, 221, 0.75) 80%,
			rgba(185, 109, 71, 0.75) 100%
		);
	}
}
