@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.game-room {
	z-index: 0;
	background: linear-gradient(
		150deg,
		rgba(221, 221, 221, 0.65) 0%,
		rgba(254, 254, 254, 0.7) 50%,
		rgba(230, 231, 230, 0.65) 100%
	);
	box-shadow: 0.65rem 0.425rem 0.425rem rgba(0, 0, 0, 0.2); // Subtle shadow effect

	border: none;
	border-radius: 0.5rem;
	height: 12rem;
	width: auto;
	margin: 1rem;
	padding: 1.2rem;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	//gap: 1rem;
	opacity: 0; // Initially hidden for fade-in effect
	transform: scale(0.9); // Slightly smaller to scale up to normal size
	animation: scaleFadeIn 0.3s ease forwards, fadeIn 0.3s ease forwards; // Fade in and scale-up animation

	@include tablet {
		width: 100%;
		min-width: 11rem;
	}

	&__player-name-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	&--ongoing {
		background: linear-gradient(
			150deg,
			rgba(145, 143, 142, 0.65) 0%,
			rgba(191, 190, 190, 0.65) 20%,
			rgba(255, 255, 255, 0.65) 50%,
			rgba(178, 178, 178, 0.65) 80%,
			rgba(116, 114, 113, 0.65) 100%
		);
	}
}
