.banner {
	background: rgb(230, 230, 237);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255) 0%,
		rgb(226, 226, 226) 60%,
		rgb(211, 211, 211) 100%
	);
	padding: 0.5rem;
	box-shadow: 0rem 0.5rem 0.9rem rgba(1, 0, 0, 0.7);
	//width: 80%;
	min-width: 20rem;
	margin: auto;

	&__content-wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}
	&__profile-wrapper {
		padding: 0.45rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
		align-items: center;
	}
}
